@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;900&family=Cairo:wght@200;300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;900&display=swap");


.swiper-container{
  cursor: pointer;
}

.swiper-container-horizontal>.swiper-scrollbar {
    width: 764px;
    position: relative;
    left: initial;
    bottom: initial;
    margin: 0 auto;
    margin-top: 180px;
    background: rgb(200, 200, 200);
}

.swiper-scrollbar-drag {
  background: #ff8004;
}

.swiper-scrollbar::before, .swiper-scrollbar::after{
  font-family: Barlow;
  font-size: 22px;
  color: #c4c4c4;
}

.swiper-scrollbar::before {
  content: "1";
  position: absolute;
  left: -7%;
  top: 17%;
  z-index:inherit;
}

.swiper-scrollbar::after {
  content: "4";
  position: absolute;
  right: -10%;
  top: 17%;
}

img {
  filter: brightness(0.4);
}

.text{
  position: absolute;
  top: 25%;
  left: 25%;
  margin-bottom: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text * {
  font-family: Cairo;
  font-size: 25px;
  font-weight: 700;
  color: #fff;
}

.ptitle {
  color: #ff8004;
}




